.title {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.878rem;
}

.main {
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 4.226rem;
  padding: 0.5rem 0;
}

.value {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.514rem;
  padding-right: 0.5rem;
}
