.container {
  padding: 1rem 1.8rem;
  cursor: pointer;
  color: var(--color-primary-light);
  border: none;
}

.primary {
  composes: container;
  background-color: var(--gray-2);
}

.accent {
  composes: container;
  background-color: var(--color-accent-light);
}

.primary:hover {
  background-color: var(--black);
}

.accent:hover {
  background-color: var(--gray-2);
}
