.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 3rem;
}

.heading {
  grid-column: 1 / -1;
  font-weight: 700;
  font-size: 2.4rem;
  margin-top: 0;
  margin-bottom: -2rem;
  padding: 0;
}
