:root {
  --color-primary-light: #e7e7eb;
  --color-primary-dark: #a09fb1;
  --color-primary-bg: #1e213a;
  --color-accent-light: #3c47e9;

  /* shades */
  --black: #100e1d;
  --gray-4: #616475;
  --gray-3: #585676;
  --gray-2: #6e707a;
  --gray-1: #88869d;
  --yellow-1: #ffec65;
  --white: white;
}
